* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #c1c1c1;
    line-height: 3em;
    display: flex;
    align-items: center;
}

#logo1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 3em;
    padding: 0.2em 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    flex-grow: 1;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li:nth-child(5) {
    margin-left: auto;
}

a {
    color: black;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

a:hover {
    color: blue;
}

/*
    The navbar must have the following:

    box-sizing: border-box for all elements X
    link text, the logo, and icons are surrounded by anchor tags X
    links turn blue on hover X
    anchor tags are display: inline-block X
    clickable area of links immediately flow from one link to the next (padding will help achieve this) X
    Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively) X
    the "Logo" text is 3em with .2em of padding above and below X
    no explicit height given to the navbar X
    default styling is removed as needed from the body, unordered list and anchor tag elements ?
    logo is absolutely positioned to completely center text on the navbar X
*/