/*
multi
line
comment
*/

/*Center the main heading*/
header {
    text-align: center;
}

/*Change headers*/
h1, h2 {
    color: blue;
    text-decoration: underline;
    cursor: crosshair;
}

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

/*Background color, Image, and Manipulation*/
body {
    background-color: lightpink;
    background-image: url("../img/blue-and-red-plants-2505693.jpg");
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

/*Change list style*/
ul {
    list-style: georgian;
}

ol {
    list-style: upper-roman;
}

/*Added google fonts and change font in body above*/

/*Changing table, tr, td size and rows*/
table, td, tr, th {
    padding: 20px;
    font-size: 30px;
}

/*Change anchor tag stylings*/
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
    color: lightblue;
}

a:active {
    color: rgba(0,0,0,0);
}