header {
    background-color: dodgerblue;
    text-align: center;
    color: #fff;
}

h3 {
    color: dodgerblue;
}

#submit {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#map {
    width: 100%;
    height: 350px;
}

.high {
    color: orangered;
}

.low {
    color: steelblue;
}

.round {
    width: 100%;
    height: 30px;
    background: white;
    border: 3px solid dodgerblue;
    border-radius: 20px;
}

.content {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 100%;
    background: transparent;
}

input:focus {
    outline: none;
}


/* Temperature Flip */
.flip-outer {
    background-color: transparent;
    width: 100%;
    height: 25px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-outer:hover .flip-inner {
    transform: rotateX(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-back {
    transform: rotateX(180deg);
}